{% extends "base.html" %}

{% block content %}
<div class="">
    <form class="input-group justify-content-center mt-2" method="GET" action="{% url 'home' %}">
        <div class="form-outline">
        <input id="search-input" type="search" name="search" placeholder="Search" class="form-control" value="{{search}}"/>
        </div>
        <button id="search-button" type="submit" class="btn dark-bg">
        <i class="fas fa-search"></i>
        </button>
    </form>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        {% for post in post_list %}
        <div class="col-lg-4 col-sm-6 mt-3 left">
            <div class="card text-white shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <div class="image-container">
                        {% if "placeholder" in post.featured_image.url %}
                        <div class="imcontainer">
                        <img class="card-img-top imgclass"
                        src="https://res.cloudinary.com/cmanzanada84/image/upload/v1656780700/settable_k7uhce.jpg">
                        {% if user.is_authenticated %}
                        {% if user.id == post.author.id %} 
                        <a class="btn" href="{% url 'deletepost' pk=post.id %}"><span class="bi bi-trash"></span></a>
                        <a class="editbtn" href="{% url 'updatepost' pk=post.id %}"><span class="bi bi-pen"></span></a>
                        {% endif %} 
                        {% endif %}
                        </div>
                        {% else %}
                        <div class="imcontainer">
                        <img class="card-img-top imgclass" src=" {{ post.featured_image.url }}">
                        {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}    
                        <a class="btn" href="{% url 'deletepost' pk=post.id %}"><span class="bi bi-trash"></span></a>
                        <a class="editbtn" href="{% url 'updatepost' pk=post.id %}"><span class="bi bi-pen"></span></a>
                        {% endif %} 
                        {% endif %}
                        </div>
                        {% endif %}
                        <div class="image-flash">
                            <p class="chef">Chef: {{ post.author }}</p>
                        </div>
                    </div>
                    <a href="{% url 'post_detail' post.slug %}" class="post-link">
                        <h2 class="card-title mt-2">{{ post.title }}</h2>
                        <p class="card-text">{{ post.excerpt }}</p>
                    </a>
                    <p class="boxed roundinput">Prep Time {{ post.prep_time }}</p>
                    <p class="boxed roundinput">Cook Time {{ post.cook_time }}</p>
                    <hr />
                    <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                        {{ post.number_of_likes }}</p>
                </div>
            </div>
        </div>
        {% endfor %}  
    </div>
</div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}&search={{search}}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}&search={{search}}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}

{%endblock%}